{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        @media (min-width: 1280px)
        {
            #sidebar {
                position: fixed;
                width: 320px;
                height: 100%;
            }

            #site-main {
                position: absolute;
                left: 320px;
            }
        }
        .post-card {
            flex: 1 1 300px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            margin: 0 20px 40px;
            min-height: 300px;
            background: #fff center center;
            background-size: cover;
            border-radius: 5px;
            box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
            transition: all 0.5s ease;
        }

        .post-card-content {
            -ms-flex-positive: 1;
            flex-grow: 1;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .post-card-tags {
            display: block;
            margin-bottom: 4px;
            color: #000;
            font-size: 1.2rem;
            line-height: 1.15em;
            font-weight: 500;
            letter-spacing: .5px;
            text-transform: uppercase;
        }
    </style>
    {{!-- Styles'n'Scripts --}}
    <link rel="preload" href="{{asset "built/staypuft.css"}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{asset "built/staypuft.css"}}"></noscript>
    <link rel="preload" as="style" href="{{asset "built/fonts.css"}}" >
    {{!-- Prism --}}
    <link rel="preload" href="{{asset "built/prism.css"}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{asset "built/prism.css"}}"></noscript>
</head>
<body class="error-template">
    <div class="site-wrapper">

        {{!-- Sidebar (Landscape) / Header (Portrait) --}}
        <div id="sidebar" {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})"{{/if}}>
            <div>
                {{!-- Header --}}
                {{> "site-header"}}
            </div>
            <div class="landscape">
                {{!-- Footer (Landscape mode only)--}}
                {{> "site-footer" }}
            </div>
        </div>

        <main id="site-main" class="site-main outer">
            <div class="inner">
                {{!-- Error --}}
                <section class="error-message">
                    <h1 class="error-code">{{statusCode}}</h1>
                    <p class="error-description">{{message}}</p>
                    <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
                </section>

                {{!-- Posts --}}
                {{#get "posts" limit="3"}}
                <div class="post-feed">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
                {{/get}}
            </div>
        </main>

        {{!-- Footer (Portrait mode only) --}}
        <div class="portrait">
            {{> "site-footer" }}
        </div>

    </div>
</body>
</html>
